---
interface Props {
  sectionSlug: string;
  title: string;
  slug: string;
}

const { sectionSlug, title, slug } = Astro.props;
---

<a
  href={`/clase/${sectionSlug}/${slug}`}
  class="flex items-center gap-2 py-1.5 px-2 rounded-md hover:bg-white/3 hover:scale-[1.02] transition-all duration-200 group"
>
  <span class="text-blue-400 font-bold text-sm">></span>
  <span
    class="text-white/80 group-hover:text-blue-400 transition-colors text-sm"
  >
    {title}
  </span>
</a>
